
# OS-specific
.DS_Store
Thumbs.db

# Maven
target/
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/
*.out

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# IntelliJ and Eclipse
.classpath
.project
.settings/
.sts4-cache/

# Build Tools
build/
.gradle/
out/

# Docker
**/docker-compose.override.yml
**/.env
**/.dockerignore

# PostgreSQL (if using Docker volume)
pgdata/
splitpay_pgdata/

# Spring Boot specific
spring.log

# Misc
HELP.md
